
@font-face {
  font-family: "ubuntu-light";
  src: url("fonts/Ubuntu-Light.ttf");
}

@font-face {
  font-family: "charmonman-regular";
  src: url("fonts/Charmonman-Regular.ttf");
}

@font-face {
  font-family: "ubuntu-italic";
  src: url("fonts/Ubuntu-Italic.ttf");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  background-color: #2d2b2c;
  font-size: 24px;
  font-family: "ubuntu-light";
}

header {
  /* margin-bottom: 48px; */
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  >nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;

    >button{
      background-color: #2d2b2c;
      border: 0;
      font-family: "charmonman-regular";
      font-size: 1.5rem;
      color: #d3d2d2;

      &:hover{
        color: #e6b672;
        border-bottom: 1px solid #e6b672;
      }
    }
    >img{

      &.logo{
        width: 250px;
      }
    }
  }
}

div#content{

  >div.home-tab{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d3d2d2;
    padding: 48px 0px 48px 0px;
    gap: 100px;
    margin-bottom: 48px;

    >p{
      font-family: "ubuntu-italic";
      font-size: 1.3rem;
    }

    >div{
      display: flex;
      gap: 16px;

      >p{
        width: 45ch;
      }

      >img{
        width: 500px;
        border-radius: 4px;
      }
    }
  }

  >div.menu-tab{
    background-color: #d3d2d2;
    padding: 48px 0px 48px 0px;
    margin-bottom: 48px;

    h2.menu-category{
      text-align: center;
    }

    div.menu-list{
      display: flex;
      padding: 36px;
      justify-content: center;
      gap: 32px;
      flex-wrap: wrap;
      margin-bottom: 48px;

      >div.menu-item{
        border: 1px solid #2d2b2c;
        border-radius: 16px;
        width: 400px;
        padding: 16px;
        background-color: #2d2b2c;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);

        >h3{
          font-size: 1rem;
          color: #e6b672;
          margin-bottom: 16px;
          font-family: "charmonman-regular";
          border-bottom: 1px solid #e6b672;
          letter-spacing: 0.2rem;
        }

        >p{
          font-size: 0.6rem;
          color: #d3d2d2;
          font-weight: bold;
          letter-spacing: 0.1rem;
        }
      }
    }

  }
}